<tr>
    <td>firstname</td> 
    <td>lastname</td>
    <td>abc@gmail.com</td>
    <td>987456321</td>
    <td>Active</td>
    <td>
       <a href="/update-employee" class="btn border-shadow update">
           <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
       </a>
       <a class="btn border-shadow delete">
         <span class="text-gradient"><i class="fas fa-times"></i></span>
     </a>

    </td>
 </tr>